<div style="text-align: center;">
  <p [ngClass]=" 'title' ">{{title}}</p>
  <br>
  <img src="./../assets/img/WhatsApp Image 2023-05-25 at 17.02.09.jpeg" alt="Reactive Form">
</div>

<br>
<br>
<br>
<br>




<div class="center">
  <form novalidate [formGroup]="contactForm" (ngSubmit)="onSubmit()">

    <div>
      <label for="firstname">First Name: </label>
      <input type="text" formControlName="firstname" id="firstname" name="firstname" [ngClass]="{
      'is-invalid': contactForm.get('firstname').invalid && contactForm.get('firstname').dirty,
      'is-valid': contactForm.get('firstname').valid && contactForm.get('firstname').dirty
      }">
    </div>

    <br>

    <div *ngIf="!contactForm.get('firstname').valid && (contactForm.get('firstname').dirty || contactForm.get('firstname').touched)" [ngClass]="'error'">

      <div *ngIf="contactForm.get('firstname').errors['required'] && contactForm.get('firstname').touched">
        Firstname is required!
      </div>
      <div *ngIf="contactForm.get('firstname').errors['minlength'] && contactForm.get('firstname').touched">
        Firstname minimum lenghth is {{firstnameControl.errors['minlength'].requiredLength}}
      </div>

      <div *ngIf="contactForm.get('firstname').errors['pattern'] && contactForm.get('firstname').touched">
        Firstname pattern is {{contactForm.get('firstname').errors['pattern'].requiredPattern}}
        <p>
          Enter only characters from
          <span style="color: darkred;">a</span> to <span style="color: darkred;">z</span>
          or <span style="color: darkred;">A</span> to <span style="color: darkred;">Z</span>
          without any empty spaces!
        </p>
      </div>
    </div>




    <br>




    <div>
      <label for="lastname">Last Name: </label>
      <input type="text" formControlName="lastname" id="lastname" name="lastname" [ngClass]="{
    'is-invalid': contactForm.get('lastname').invalid && contactForm.get('lastname').dirty,
    'is-valid': contactForm.get('lastname').valid && contactForm.get('lastname').dirty
    }">
    </div>

    <br>

    <div *ngIf="!contactForm.get('lastname').valid && (contactForm.get('lastname').dirty || contactForm.get('lastname').touched)" [ngClass]="'error'">

      <div *ngIf="contactForm.get('lastname').errors['required'] && contactForm.get('lastname').touched">
        Lastname is required!
      </div>

      <div *ngIf="contactForm.get('lastname').errors['minlength'] && contactForm.get('lastname').touched">
        Lastname minimum lenghth is {{lastnameControl.errors['minlength'].requiredLength}}
      </div>

      <div *ngIf="contactForm.get('lastname').errors['pattern'] && contactForm.get('lastname').touched">
        Lastname pattern is {{contactForm.get('lastname').errors['pattern'].requiredPattern}}

        <p>
          Enter only characters from
          <span style="color: darkred;">a</span> to <span style="color: darkred;">z</span>
          or <span style="color: darkred;">A</span> to <span style="color: darkred;">Z</span>
          without any empty spaces!
        </p>

      </div>

    </div>




    <br>




    <div>
      <label for="email">Email: </label>
      <input type="email" formControlName="email" id="email" name="email" [ngClass]="{
    'is-invalid': contactForm.get('email').invalid && contactForm.get('email').dirty,
    'is-valid': contactForm.get('email').valid && contactForm.get('email').dirty
    }">
    </div>

    <br>

    <div *ngIf="!contactForm.get('email').valid && (contactForm.get('email').dirty || contactForm.get('email').touched)" [ngClass]="'error'">

      <div *ngIf="contactForm.get('email').errors['required'] && contactForm.get('email').touched">
        Email is required!
      </div>

      <div *ngIf="contactForm.get('email').errors['pattern'] && contactForm.get('email').touched">
        Email pattern is {{contactForm.get('email').errors['pattern'].requiredPattern}}

        <p>
          Enter characters from
          <span style="color: darkred;">a-A</span> to <span style="color: darkred;">z-Z</span>
          ,special characters <span style="color: darkred;">._%+-</span>
          and number <span style="color: darkred;">0-9</span>
        </p>

      </div>

    </div>



    <br>




    <div>

      <label for="gender">Geneder: </label>
      <input type="radio" formControlName="gender" value="male" id="gender" name="gender"> Male
      <input type="radio" formControlName="gender" value="female" id="gender" name="gender"> Female

      <div *ngIf="!contactForm.get('gender').valid && (contactForm.get('gender').dirty || contactForm.get('gender').touched)" [ngClass]="'error'">

        <div *ngIf="contactForm.get('gender').errors['required'] && contactForm.get('gender').touched">

          <p>Gender is required!</p>

        </div>

      </div>

    </div>



    <br>






    <div formGroupName="address">

      <label for="country">Country: </label>

      <select id="country" formControlName="country" name="country"
        [ngClass]="{
        'is-invalid': contactForm.get('address.country').invalid && (contactForm.get('address.country').dirty || contactForm.get('address.country').touched),
        'is-valid': contactForm.get('address.country').valid && (contactForm.get('address.country').dirty || contactForm.get('address.country').touched)}">

        <option value="">Select country</option>
        <option *ngFor="let country of countryList" [ngValue]="country.id">{{ country.name }}</option>

      </select>

      <br>
      <br>
      <div
        *ngIf="contactForm.get('address.country').invalid && (contactForm.get('address.country').dirty || contactForm.get('address.country').touched)"
        class="error">

        <div *ngIf="contactForm.get('address.country').errors['required']">
          Country is required
        </div>

      </div>

  


    <br>



        <label for="city">City: </label>
        <input type="text" [ngClass]="{
      'is-invalid': contactForm.get('address.city').invalid && contactForm.get('address.city').dirty,
      'is-valid': contactForm.get('address.city').valid && contactForm.get('address.city')
      }" id="city" formControlName="city">

        <br>

        <div
          *ngIf="contactForm.get('address.city').invalid && (contactForm.get('address.city').dirty || contactForm.get('address.city').touched)"
          class="error">

          <div *ngIf="contactForm.get('address.city').errors['required'] && contactForm.get('address.city').touched">
            City is required!
          </div>

          <div *ngIf="contactForm.get('address.city').errors['minlength'] && contactForm.get('address.city').touched">
            City minimum length is {{ contactForm.get('address.city').errors['minlength'].requiredLength }}
          </div>

          <div *ngIf="contactForm.get('address.city').errors['pattern'] && contactForm.get('address.city').touched">
            City pattern is {{ contactForm.get('address.city').errors['pattern'].requiredPattern }}

            <p>
              Inserting numbers is prohibited!
            </p>

          </div>

        </div>





        <br>





        <label for="street">Street</label>
        <input type="text" [ngClass]="{
      'is-invalid': contactForm.get('address.street').invalid && contactForm.get('address.street').dirty,
      'is-valid': contactForm.get('address.street').valid && contactForm.get('address.street').dirty
      }" id="street" formControlName="street">

        <br>

        <div
          *ngIf="!contactForm.get('address.street').valid && (contactForm.get('address.street').dirty || contactForm.get('address.street').touched)"
          [ngClass]=" 'error' ">

          <div
            *ngIf="contactForm.get('address.street').errors['required'] && contactForm.get('address.street').touched">
            Street is required!
          </div>

          <div
            *ngIf="contactForm.get('address.street').errors['minlength'] && contactForm.get('address.street').touched">
            Street minimum lenghth is {{contactForm.get('address.street').errors['minlength'].requiredLength}}
          </div>

          <div *ngIf="contactForm.get('address.street').errors['pattern'] && contactForm.get('address.street').touched">
            Street pattern is {{contactForm.get('address.street').errors['pattern'].requiredPattern}}

            <p>
              Inserting numbers is prohibited!
            </p>

          </div>

        </div>





        <br>





        <label for="zipCode">Zip Code: </label>
        <input type="text" [ngClass]="{
          'is-invalid': contactForm.get('address.zipCode').invalid && contactForm.get('address.zipCode').dirty,
          'is-valid': contactForm.get('address.zipCode').valid && contactForm.get('address.zipCode').dirty
          }" id="zipCode" formControlName="zipCode">

        <br>

        <div
          *ngIf="!contactForm.get('address.zipCode').valid && (contactForm.get('address.zipCode').dirty || contactForm.get('address.zipCode').touched)"
          [ngClass]=" 'error' ">

          <div
            *ngIf="contactForm.get('address.zipCode').errors['required'] && contactForm.get('address.zipCode').touched">
            Street is required!
          </div>

          <div
            *ngIf="contactForm.get('address.zipCode').errors['minlength'] && contactForm.get('address.zipCode').touched">
            Zip code minimum lenghth is {{contactForm.get('address.zipCode').errors['minlength'].requiredLength}}
          </div>

          <div
            *ngIf="contactForm.get('address.zipCode').errors['pattern'] && contactForm.get('address.zipCode').touched">
            Zip code pattern is {{contactForm.get('address.zipCode').errors['pattern'].requiredPattern}}
            <p>Accept only numbers!</p>
          </div>

        </div>







    </div>

    <br>

    <button class="button animated" data-filter-color="#00a1ff57" [hidden]="!contactForm.valid"
      type="submit"><span>🐭</span></button>

  </form>

</div>