<div style="text-align: center;">
<p [ngClass]=" 'title' ">{{title}}</p>
<br>
<img src="./../assets/img/WhatsApp Image 2023-05-25 at 17.02.09.jpeg" alt="Reactive Form" >
</div>

<br>
<br>






<form novalidate [formGroup]="contactForm" (ngSubmit)="onSubmit()">

  <div>
    <label for="firstname">First Name </label>
    <input type="text" formControlName="firstname" id="firstname" name="firstname" 
    [ngClass]= "{
      'is-invalid': firstnameControl.invalid && firstnameControl.dirty,
      'is-valid': firstnameControl.valid && firstnameControl.dirty
      }">
  </div>

  <br>


  <div *ngIf="!firstnameControl.valid && (firstnameControl.dirty || firstnameControl.touched)" [ngClass]="'error'">
    
    <div *ngIf="firstnameControl.errors['required'] && firstnameControl.touched">
      Firstname is required!
    </div>
    <div *ngIf="firstnameControl.errors['minlength'] && firstnameControl.touched">
      Firstname minimum lenghth is {{firstnameControl.errors['minlength'].requiredLength}} 
    </div>

    <div *ngIf="firstnameControl.errors['pattern'] && firstnameControl.touched">
      Firstname pattern is {{firstnameControl.errors['pattern'].requiredPattern}} 
     <p>
      Enter only characters from 
      <span style="color: darkred;">a</span> to <span style="color: darkred;">z</span>
       or <span style="color: darkred;">A</span> to <span style="color: darkred;">Z</span>
        without any empty spaces!
      </p> 
    </div>
  </div>

<br>

   











<div>
  <label for="lastname">Last Name </label>
  <input type="text" formControlName="lastname" id="lastname" name="lastname" 
  [ngClass]= "{
    'is-invalid': lastnameControl.invalid && lastnameControl.dirty,
    'is-valid': lastnameControl.valid && lastnameControl.dirty
    }">
</div>

<br>

<div *ngIf="!lastnameControl.valid && (lastnameControl.dirty || lastnameControl.touched)" [ngClass]="'error'">
  <!-- Invalid lastname! -->
  

  <div *ngIf="lastnameControl.errors['required'] && lastnameControl.touched">
    Lastname is required!
  </div>
  <div *ngIf="lastnameControl.errors['minlength'] && lastnameControl.touched">
    Lastname minimum lenghth is {{lastnameControl.errors['minlength'].requiredLength}} 
  </div>

  <div *ngIf="lastnameControl.errors['pattern'] && lastnameControl.touched">
    Lastname pattern is {{lastnameControl.errors['pattern'].requiredPattern}} 
    <p>
      Enter only characters from 
    <span style="color: darkred;">a</span> to <span style="color: darkred;">z</span>
     or <span style="color: darkred;">A</span> to <span style="color: darkred;">Z</span>
      without any empty spaces!
    </p>
  </div>
</div>


<br>








<div>
  <label for="email">Email </label>
  <input type="text" formControlName="email" id="email" name="email" 
  [ngClass]= "{
    'is-invalid': emailControl.invalid && emailControl.dirty,
    'is-valid': emailControl.valid && emailControl.dirty
    }">
</div>

<br>

<div *ngIf="!emailControl.valid && (emailControl.dirty || emailControl.touched)" [ngClass]="'error'">
  <!-- Invalid email! -->
  

  <div *ngIf="emailControl.errors['required'] && emailControl.touched">
    Email is required!
  </div>

  <div *ngIf="emailControl.errors['pattern'] && emailControl.touched">
    Email pattern is {{emailControl.errors['pattern'].requiredPattern}}
    <p>
      Enter characters from 
    <span style="color: darkred;">a-A</span> to <span style="color: darkred;">z-Z</span>
     ,special characters <span style="color: darkred;">._%+-</span>
      and number <span style="color: darkred;">0-9</span>
    </p>
  </div>
</div>

<br>








<div>
  <label for="gender">Geneder </label>
  <input type="radio" formControlName="gender" value="male" id="gender" name="gender"> Male
  <input type="radio" formControlName="gender" value="female" id="gender" name="gender"> Female


    <div *ngIf="!genderControl.valid && (genderControl.dirty || genderControl.touched)" [ngClass]="'error'">
  

      <div *ngIf="genderControl.errors['required'] && genderControl.touched">
        <p>Gender is required!</p>
      </div>
    </div>


</div>

<br>











<div>
  <label for="isMarried">Married </label>
  <input type="checkbox" formControlName="isMarried" id="isMarried" name="isMarried">
</div>

<br>





<!-- <div>
  <label for="country">country </label>
  <select id="country" name="country">
    <option [ngValue]="country.id" *ngFor="let country of countryList">
      {{country.name}}
    </option>
  </select>
</div> -->








  <div>
   <!-- <button [disabled]="!contactForm.valid" type="submit">Submit</button> -->
   <button [hidden]="!contactForm.valid" type="submit">Submit</button>

  </div>

</form>